# Dependencies
node_modules/

# Environment variables
.env

# Generated uploads & extracted text
uploads/
texts/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db